# Ignore datasets
Test/
Training/

# Ignore virtual environment
tccenv/

model_manual/

data/

# g

# Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
.pytest_cache/

# IDE files
.vscode/
.idea/

# Logs and outputs
*.log
*.out
*.csv
*.json
*.h5
*.pkl
*.model
